.category
  .header
    background-color #EFF9FC
    color #01232D
    font-size 30px
    font-weight 300
    line-height 100px

  .products-list
    margin-top 50px

    .product
      column(251px, gutter: 10px, 755px)
