.featured-products
  margin-top 50px

  .product
    column(330px, gutter: 10px, 990px)
    margin-bottom 100px
    text-align center

    img
      max-width 100%

    .name
      font-size 20px
      font-weight 300
      margin-top 20px
      margin-bottom 20px

    .price
      font-weight 400
      margin-bottom 20px
