#f
	background-color #CCC
	padding 20px 0
	
	.leads
		height 300px
		
		.brand
			column(190px, gutter: 10px, 990px)
			
		.manifest
			column(250px, gutter: 10px, 990px)
			
		.links
			column(200px, gutter: 10px, 990px)
		
		.social
			column(350px, gutter: 10px, 990px)
			
	.company-data
		color #444
		font-size 12px
		font-weight 300
		text-align center
		padding 10px 0 0 0
