header
  height 100px

  .logotype-wrapper
    column(245px, gutter: 10px, 1010px)

  .nav-bar
    column(755px, gutter: 10px, 1010px)

    .nav-list
      .item
        display inline-block
        margin 0 10px

        &.login
          float right
