.my-account
  margin-bottom 100px
  
  .form-wrapper
    column(600px, gutter: 10px, 990px)
    margin 50px auto
    float none
    
    .title
      font-size 30px
      margin-bottom 50px
    
    .form-row
      margin-bottom 30px
      
      .label
        display inline-block
        font-size 18px
        margin-bottom 5px
      
      .input-text,
      .textarea
        border 1px #cecece solid
        border-radius 5px
        display block
        font-size 18px
        padding 10px
        width 100%
        
        &:focus
          border-color #56c3e0
          outline none
          
      
      .textarea
        height 250px
        
      .submit
        background-color transparent
        border 1px #56c3e0 solid
        border-radius 5px        
        color #56c3e0
        cursor pointer
        float right
        font-size 14px
        padding 14px 28px
        text-transform uppercase
        
        &:hover
          background-color #61dafb;
          color #fff;
