<nav class="navbar">
  <ul class="nav-list">
    <li class="item"><a href="">Home</a></li>
    <li class="item">
      <a href="/products">Products</a>
      <ul class="nav-list">
        <li class="item">
          <a href="/products/new">New Product</a>
        </li>
      </ul>
    </li>
    <li class="item">
      <a href="/users">Users</a>
      <ul class="nav-list">
        <li class="item">
          <a href="/users/new">Add User</a>
        </li>
      </ul>
    </li>
    <li class="item"><a href="/logout">Logout</a></li>
  </ul>
</nav>
