.featured-carousel
  background-color #CCC
  height 620px
  overflow hidden
  width 100%

  .slides-list
    height 620px

    .slide
      height 100%
      widows 100%

      .call-to-action
        left 0
        padding 30px
        position absolute
        top 0

        p,
        .btn
          margin 30px 0 0 30px

        p
          color #fff
          font-size 60px

      img
        max-width 100%

    .slick-dots
      bottom 20px

      li
        button
          &:before
            font-size 16px
