#f
  background-color #CCC
  padding 20px 0
  
  .leads
    
    .manifest, .links, .social
      .title
        font-size 12px
        font-weight 600
        margin-bottom 20px
        text-transform uppercase
        
    .brand
      column(190px, gutter: 10px, 990px)
      
      p
        background-position center
        background-repeat no-repeat
        height 170px
        image '../../assets/img/logotype-react-commerce-footer.png'
        text-indent -5000px
      
    .manifest
      column(250px, gutter: 10px, 990px)
      
      p
        font-size 14px
        font-weight 300
        line-height 24px
      
    .links
      column(200px, gutter: 10px, 990px)
      
      .nav-links
        .item
          font-size 14px
          font-weight 500
          
          .link
            color #000
            display inline-block
            padding 5px
            text-decoration none
            
            &:hover
              text-decoration underline
    
    .social
      column(350px, gutter: 10px, 990px)
      
  .div
    cf()

  .company-data
    color #444
    font-size 12px
    font-weight 300
    text-align center
    padding 10px 0 0 0
