.sidebar
  margin-top 30px

  .filter-type
    margin-bottom 30px
    
    .title
      border-bottom #ececec 1px solid
      font-size 12px
      line-height 22px
      margin-bottom 5px
      text-transform uppercase
      
    .filters-list
      
      .filter
        display block
        font-size 14px
        line-height 26px
