<h1>{{title}}</h1>

<nav class="navbar">
  <ul class="nav-list">
    <li class="item"><a href="">Home</a></li>
    <li class="item"><a href="/tshirts">Tshirst</a></li>
    <li class="item"><a href="">Logout</a></li>
  </ul>
</nav>
