<h1>{{title}}</h1>
{{>menu}}
<form action="/addproduct" method="post" enctype="multipart/form-data">
  <label>Name:</label>
  <input type="text" name="name" />
  <br><br>
  <label>Description:</label>
  <textarea name="description"></textarea>
  <br><br>
  <label>Price:</label>
  <input type="text" name="price"/>
  <br><br>
  <label>Image:</label>
  <input type="file" name="image"/>
  <br><br>
  <button type="submit">Add</button>
</form>
