<h1>{{title}}</h1>
{{>menu}}

<table>
  <tr>
    <td>Image</td>
    <td>Name</td>
    <td>Price</td>
    <td>Actions</td>
  </tr>
{{#tshirts}}
  <tr>
    <td>{{image}}</td>
    <td>{{name}}</td>
    <td>{{price}}</td>
    <td>
      <a href="#">Editar</a>
      <a href="#">Excluir</a>
    </td>
  </tr>
{{/tshirts}}
</table>
